.menu {

    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    a {
        font-size: 12px;
        text-transform: uppercase;
        line-height: 23px;
        font-weight: 300;
        color: $black;
        text-decoration: none;
        border-bottom: 1px solid transparent; 
        letter-spacing: 0.96px;
        position: relative;
        transition-duration: 300ms;
        transition-property: all;
        
        &::before {
            content: '';
            display: block;
            border-bottom: 1px solid #000;
            position: absolute;
            width: 100%;
            transform: scale(0,1);
            bottom: -10px;
            left: 0;
            transition-duration: 300ms;
            transition-property: all;    
        }
        &:hover:before {
            transform: scale(1,1);
        }
    }
}